<!DOCTYPE html>
<html lang="en" class="font-sans text-dark">
  <head>
    <title>{{ title ?? 'Home' }} | Owen Conti</title>
    {{ partial:partials/head }}
  </head>
  <body class="text-base transition-all duration-300 bg-white text-dark dark:bg-brand-dark-darken dark:text-brand-light">
    {{ partial:partials/header }}

    <div class="flex w-full max-w-6xl px-6 mx-auto mt-6">
      <div class="hidden w-64 lg:w-full lg:max-w-xs md:block">
        {{ partial:partials/sidebar }}
      </div>
      <div class="flex-1 w-0 max-w-full md:pl-16">
        {{ template_content }}
      </div>
    </div>

    {{ partial:partials/footer }}

    <script async src="{{ mix src='/js/app.js' }}"></script>

    {{ if environment === 'production' }}
      {{ partial:partials/analytics }}
    {{ /if }}
  </body>
</html>
