<!DOCTYPE html>
<html lang="{{ site_short_locale }}" class="font-sans text-dark">
  <head>
    <title>{{ title ?? 'Home' }} | Owen Conti</title>
    {{ partial:partials/head }}
  </head>
  <body class="text-base text-dark bg-white dark:bg-dark dark:text-light border-t-4 border-accent">
    <div class="w-full max-w-6xl mx-auto px-6">
      {{ partial:partials/header }}

      <div class="flex mt-6">
        <div class="w-72 lg:w-full lg:max-w-sm hidden md:block">
          {{ partial:partials/sidebar }}
        </div>
        <div class="md:pl-12 flex-1 max-w-full w-0">
          {{ template_content }}
        </div>
      </div>

      {{ partial:partials/footer }}
    </div>

    <script async src="{{ mix src='/js/app.js' }}"></script>

    {{ if environment === 'production' }}
      {{ partial:partials/analytics }}
    {{ /if }}
  </body>
</html>
