/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/js
/public/css
/public/images
/public/fonts
/public/mix-manifest.json
/public/robots.txt
/storage/*.key
/vendor
/users
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
.vapor/
.env.production
.env.staging
