@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.11") format("woff2"),
    url("/fonts/Inter-Regular.woff?v=3.11") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2?v=3.11") format("woff2"),
    url("/fonts/Inter-Italic.woff?v=3.11") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
    url("/fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"),
    url("/fonts/Inter-SemiBold.woff?v=3.11") format("woff");
}