/*! purgecss start ignore */
.prose {
  @apply text-lg;

  h1, h2, h3, h4, h5, h6 {
    @apply highlight-heading font-normal;
  }

  img {
    @apply max-w-full shadow-lg;
  }

  tbody tr {
    border: none;
  }

  pre {
    @apply mb-4;
  }

  code {
    @apply inline-block bg-gray-300 text-gray-700 text-sm p-1;

    &::before {
      content: '';
    }
    &::after {
      content: '';
    }
  }

  pre code {
    @apply block text-sm p-4;
  }

  .gist {
    @apply mb-8;

    .blob-code.blob-code-inner {
      font-size: 14px;
      line-height: 24px;
    }
  }

  blockquote {
    @apply p-4 my-6 mx-0 text-gray-800 bg-gray-100 border-l-8 border-accent;
    transform: rotate(-1deg);

    p {
      @apply m-0 p-0;
    }
  }

  a {
    @apply text-accent font-semibold no-underline;
    &:hover {
      @apply underline;
    }
  }

  p {
    @apply mb-4 leading-8;
  }

  ul, ol {
    @apply pl-4 ml-4;
  }
  ul li {
    @apply list-disc;
  }
  ol li {
    @apply list-decimal;
  }
}

a {
  @apply text-accent font-semibold no-underline;
  &:hover {
    @apply underline;
  }
}

.heading {
  @apply font-heading tracking-widest font-normal;
}

.highlight-heading {
  @apply text-white inline-block relative px-2 py-1;
}

.highlight-heading:before{
  content:"";
  z-index: -1;
  @apply bg-accent absolute top-0 right-0 bottom-0 left-0;
}

h1 {
  @apply heading text-3xl leading-tight mb-2;
}
h2 {
  @apply heading text-2xl mb-4 mt-6;
}
h3 {
  @apply heading text-xl mb-4 mt-4;
}
h4 {
  @apply heading text-lg mb-3;
}

@media (min-width: 768px) {
  blockquote {
    @apply ml-10;
  }
}

html.dark {
  .prose {
    @apply text-light;

    strong {
      @apply text-white;
    }

    code {
      @apply bg-gray-700 text-gray-300;
    }

    blockquote {
      @apply bg-dark-lighten text-light;
    }
  }
}

/*! purgecss end ignore */