{{ collection:posts limit="10" paginate="true" as="posts" }}
    {{ if no_results }}
        <p>Aww, there are no results.</p>
    {{ /if }}

    {{ posts }}
      {{ partial:partials/summary }}
    {{ /posts }}

    {{ paginate }}
        <div class="flex justify-between text-sm">
          <a href="{{ prev_page }}">⬅ Previous</a>
  
          {{ current_page }} of {{ total_pages }} pages
          (There {{ total_items == 1 ? 'is' : 'are' }} {{ total_items }} {{ 'post' | plural:total_items }})
          <a href="{{ next_page }}">Next ➡</a>
        </div>
    {{ /paginate }}
{{ /collection:posts }}
