<h1>{{ title }}</h1>

<div class="flex text-sm text-gray-700 mb-8 justify-between">
  <p class="mb-0">
    <time datetime="{{ date | format:Y-m-d }}">{{ date }}</time>
    - Posted in {{ category }} <a href="/categories#{{ slug }}">{{ title }}</a> {{ /category }}
  </p>
</div>

{{ if video}}
  <a href="#video" class="block font-normal hover:no-underline border-blue-400 bg-blue-200 text-blue-800 border border-blue-300 rounded mb-10 p-4">
    📺 Click here to skip to the video attached to this post 👇
  </a>
{{ /if }}

<div class="content text-gray-800">
  {{ content }}
</div>

{{ if video}}
  <div id="video" class="my-8" style="position:relative;padding-top:56.25%;">
    <iframe src="{{ video | embed_url }}" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full"></iframe>
  </div>
{{ /if }}