<h1 class="heading">{{ title }}</h1>

<div class="text-sm text-gray-700 mb-8">
  {{ webmentions url="{ current_url }/" }}
    <p class="mb-0">
      Published <time datetime="{{ date | format:Y-m-d }}">{{ date }}</time> under {{ category }}<a href="/categories#{{ slug }}">{{ title }}</a>{{ /category }}.
      {{ if mentions | length > 1 }}
        This post has been mentioned {{mentions | length}} times!
      {{ /if }}
    </p>
  {{ /webmentions }}
</div>

{{ if video}}
  <a href="#video" class="block font-normal hover:no-underline border-blue-400 bg-blue-200 text-blue-800 border border-blue-300 rounded mb-10 p-4">
    📺 Click here to skip to the video attached to this post 👇
  </a>
{{ /if }}

<div class="content text-gray-800">
  {{ content }}
    {{ if type == "text" }}
      {{ text | noparse }}
    {{ elseif type == "code" }}
      <pre><code class="{{ syntax }}">{{ code | noparse | entities }}</code></pre>
    {{ elseif type == "gist_content" }}
      {{ partial src="partials/gist_content" }}
    {{ elseif type == "example" }}
      <div class="p-4 pt-3 mb-4 border border-gray-300 bg-white rounded shadow-inner">
        <h4 class="text-gray-400 m-0 mb-4">Example</h4>
        <div>
          {{ example_content }}
        </div>
      </div>
    {{ /if }}
  {{ /content }}
</div>

{{ if video}}
  <div id="video" class="my-8" style="position:relative;padding-top:56.25%;">
    <iframe src="{{ video | embed_url }}" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full"></iframe>
  </div>
{{ /if }}