<h1 class="heading highlight-heading">{{ title }}</h1>

<div class="text-sm text-gray-700 dark:text-gray-400 mb-8">
  <p class="mt-2 mb-0">
    Published <time datetime="{{ date | format:Y-m-d }}">{{ date }}</time> under {{ category }}<a href="/category/{{ slug }}">{{ title }}</a>{{ /category }}.
  </p>
</div>

{{ if video}}
  <a href="#video" class="block text-center font-semibold text-accent mb-10 p-4">
    📺&nbsp;&nbsp;Click here to skip to the video attached to this post&nbsp;&nbsp;👇
  </a>
{{ /if }}

<div class="prose prose-accent">
  {{ content }}
    {{ if type == "text" }}
      {{ text | noparse }}
    {{ elseif type == "code" }}
      <pre><code class="{{ syntax }}">{{ code | noparse | entities }}</code></pre>
    {{ elseif type == "gist_content" }}
      {{ partial src="partials/gist_content" }}
    {{ elseif type == "example" }}
      <div class="p-4 pt-3 mb-4 border border-gray-300 dark:border-gray-600 bg-white dark:bg-dark-lighten rounded shadow-inner">
        <div class="font-heading tracking-widest font-normal text-gray-400 dark:text-gray-500 m-0 mb-4">Example</div>
        <div>
          {{ example_content }}
        </div>
      </div>
    {{ /if }}
  {{ /content }}
</div>

{{ if video}}
  <div id="video" class="my-8" style="position:relative;padding-top:56.25%;">
    <iframe src="{{ video | embed_url }}" class="absolute top-0 right-0 bottom-0 left-0 w-full h-full"></iframe>
  </div>
{{ /if }}

<hr class="border-t-8 border-gray-300 my-8">

{{ partial src="partials/webmentions" }}